@import 'style.css';
.apps {
  display: flex;
}

.tile {
  width: 100px;
  height: 120px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
}

.tile .name {
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #09c;
}

.tile .image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
}

.tile .image img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}